<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPA Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <br><br><br><br>

        <div class="row"> 
            
            <div class="col">
                <!-- session 처리하여 로그인 안한 경우 출력 -->
                <a href="/user/add" type="button" class="btn btn-primary">사용자 추가</a>
                <a href="" type="button" class="btn btn-primary">로그인</a>
                <!-- // session 처리하여 로그인 안한 경우 출력 -->
                 
                <!-- session 처리하여 로그인하면 출력 -->
                <a href="" type="button" class="btn btn-success">게시글 추가</a>
                <!-- // session 처리하여 로그인하면 출력 -->
            </div>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">No.</th>
                    <th scope="col" style="text-align: center;">게시글</th>
                    <th scope="col" style="text-align: center;">조회수</th>

                    <th scope="col" style="text-align: center;">작성자</th>
                    <th scope="col" style="text-align: center;">좋아요</th>
                    <th scope="col" style="text-align: center;">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="List, ListStat : ${boardList}">
                    <td th:text="${ListStat.count}" style="text-align: center;"></td>
                    <td><a style="text-decoration: none;" 
                        th:href="@{/board/details(boardCd=${List.boardNum})}">[[${List.boardTitle}]]</a></td>
                    <td th:text="${List.viewCnt}" style="text-align: center;"></td>
                    <td th:text="${List.nickName}" style="text-align: center;"></td>
                    <td th:text="${List.likeCnt}" style="text-align: center;"></td>
                    <td th:text="${List.instDate}" style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</body>
</html>